.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    font-size: 30px;
    font-family: inherit;
    color: inherit;

}
.how-section1 .subheading{
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
}

.row {
    padding-bottom: 50px;
}

.num {
    box-sizing: border-box;
    height: 42px;
    width: 42px;
    border: 2px solid #eb6e72;
    color: #eb6e72;
    display: block;
    border-radius: 60%;
    line-height: 42px;
    text-align: center;
    font-weight: 800;
    float: left;
}

.stepContent {
    padding-left: 66px
}

.notebook-hero {
    background: url(laptopCoffee.jpg) no-repeat center center;
    background-size: cover;
    height: 504px;
    padding: 20vh 15% 0;
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    position: relative;
}


.notebook-hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*半透明のフィルターをかける*/
  }
  
.inner {
    text-align: center;
    position: relative;
    width: 100%;
  }

.notebook-hero h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;

}

.notebook-hero p {
    padding: 0 10% 1rem;
    color: rgba(255, 255, 255, 0.6);
}

.notebook-hero h1, .notebook-hero .btn {
    text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
    .notebook-hero {
        padding: 20vh 10% 0;
    }
}

@media only screen and (max-width: 992px) {
    .notebook-hero {
        height: 85vh;
    }
    .notebook-hero h1 {
        font-size: 8vw;
    }
    .notebook-hero .btn {
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 768px) {
    .notebook-hero .btn {
        font-size: 0.5rem;
    }
}

.lineAfter::after {
    content: "";
    display: block;
    height: 3px;
    width: 53px;
    margin: 1.5rem auto;
    background-color: #f05f40;
}

.btnGet {
    background-color: #f05f40;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    padding: 0.75rem 1.75rem;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.btnGet-lg {
    padding: 1rem 2rem;
    font-size: 0.85rem;
}

.imgStep2 {
    width: 100%
}

@media (max-width: 768px) {
    .imgStep2{
        padding-bottom: 30px
    }
}

.textG {
    font-family: MyriadPro-Regular;
}

.stepC {
    color: #4F5766 !important;
}